

<div id="columns">
    <% @articles.each do |article|%>
        <figure>
            <%= image_tag(article.image.image_url) %>
            <div class="top__layout">
                <h4>
                    <%= article.category.name%>
                </h4>
                <small><%= pluralize(100,"love")%></small>
            </div>
            <% if logged_in? %>
                <span class="btn btn-active">
                    <%= render 'layouts/love-btn'%>
                </span>

            <% else %>
                <span class="btn">
                    <%= render 'layouts/love-btn'%>
                </span>
            <% end %>
            <figcaption><%= article.title%></figcaption>
        </figure>
    <% end %>
</div>