<div id="main__layout">

  <section class="article__new">
    <div class="article__new-form">
      <h2 class="article__new-form-title">Write how you feel</h2>
      <%= form_for @article, :html =>{:class => ""} do |f|%>
        <%= f.text_field :title, class: "form-input", placeholder: "Title"%>
        <%= f.text_area :content, class: "form-input", placeholder: "Content here"%>
        <%= f.collection_select(:category_id,@categories,:id, :name,{prompt: 'Select Category'},{class:"input-selector"}) %>
        <%= f.collection_select(:font_id,@fonts,:id, :name,{prompt: 'Select Font'},{class:"input-selector"}) %>
        <p>Please Select Background Image</p>
        <%= f.select :image_id, @images.all.map { |i| [i.name, i.id, { 'data-img-src' => i.image_url} ] }, { :prompt => "Please select"}, { :class=>"image-picker show-html" } %>

        <%= f.check_box :is_private, class: "form-check-box"%> Private Note
        <%= f.submit(@article.new_record? ? "Create Note" : "Edit Note", class: "")%>
      <% end %>
    </div>
    <div class="article__new-preview">
      <h3>preview here</h3>
     HEllo <%= @article.title%>
    </div>
  </section>
</div>