
<div class="article__show" >
    <%= image_tag("https://source.unsplash.com/#{@article.image.image_url}/700x1200", class:"article__show-bg-img") %>
    <div class="container">
        <div class="container__profile">
            <span class="container__profile-circle">
                <%= @article.user.name.capitalize[0] %>
            </span>
            <h4 class="container__profile-name">
                <%= @article.user.name.capitalize%>
            </h4>
            <div class="container__profile-love-btn">
            <% if loved_article?(@article) %>
                <%= link_to article_lofe_path(@article,id:love_or_unlove_btn(@article).id), method: :delete do%>
                <span class="btn btn-active">
                    <%= render 'layouts/love-btn-big'%>
                </span>
                <% end %>
            <% else %>
                <%= link_to  article_loves_path(@article), method: :post do%>
                <span class="btn">
                    <%= render 'layouts/love-btn-big'%>
                </span>
                <% end %>
            <% end %>
            </div>
        </div>
        <div class="container__body">
            <h3 class="container__body-title">
                <%= @article.title%>
            </h3>
            <p class="container__body-content">
                <%= @article.content%>
            </p>
        </div>
        <div class="container__footer">
            <h1 class="container__footer-category">Romance</h1>
            <h1 class="container__footer-count">
            <%= pluralize(@article.loved_by_users.count,"love")%></h1>
        </div>
    </div>
</div>