<%= render '/shared/errors', obj: @user%>

<div class="row">
  <div class="col-md-12">
    <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name,class: "form-control", placeholder:"User Name", autofocus: true %>
      </div>
      <p>
        <%= f.submit("Login",class: "btn btn-primary")%>
      </p>
    <% end%>
  </div>
</div>
